:root,
[data-theme="light"]{
    --main-color:#292929;
    --red-color:#920106;
    --figure_seal-color:#780000;
    --base-red: #833138;
    --paper-color: #DBDBD9;
    --base-blue: #188A8A;
    --base-green: #006F00;

    --Bg-setting: url('@/assets/Bg-paper-setting.png');
}

[data-theme="dark"] {
    --main-color:#DBDBD9;
    --red-color:#920106;
    --figure_seal-color:#780000;
    --base-red: #833138;
    --base-black: #292929;
    --base-blue: #188A8A;
    --base-green: #006F00;

    --Bg-setting: url('@/assets/Bg-leather-setting.png');
}

html {
    font-size: 16px;
}

/* Очень широкие экраны (4K и более) */
@media (min-width: 2560px) {
    html {
        font-size: 24px;
    }
}

/* Ширина 1600–1919px */
@media (max-width: 1919px) and (min-width: 1600px) {
    html {
        font-size: 15px;
    }
}

/* Ширина 1366–1599px (популярные ноутбуки) */
@media (max-width: 1599px) and (min-width: 1366px) {
    html {
        font-size: 14px;
    }
}

/* Ширина 1024–1365px (планшеты в альбомной ориентации) */
@media (max-width: 1365px) and (min-width: 1024px) {
    html {
        font-size: 12px;
    }
}

/* Ширина 768–1023px (планшеты вертикально, маленькие ноутбуки) */
@media (max-width: 1023px) and (min-width: 768px) {
    html {
        font-size: 10px;
    }
}

/* Мобильные устройства (до 767px) */
@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
}

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand-Regular"),
    local("Quicksand-Regular"),
    url("./fonts/Quicksand-Regular.woff2") format("woff2"),
    url("./fonts/Quicksand-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand-Bold"),
    local("Quicksand-Bold"),
    url("./fonts/Quicksand-Bold.woff2") format("woff2"),
    url("./fonts/Quicksand-Bold.woff") format("woff");
    font-weight: Bold;
}

@font-face {
    font-family: "Caveat";
    src: local("Caveat-Bold"),
    local("Caveat-Bold"),
    url("./fonts/Caveat-Bold.woff2") format("woff2"),
    url("./fonts/Caveat-Bold.woff") format("woff");
    font-weight: Bold;
}

@font-face {
    font-family: "Caveat";
    src: local("Caveat-Regular"),
    local("Caveat-Regular"),
    url("./fonts/Caveat-Regular.woff2") format("woff2"),
    url("./fonts/Caveat-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Disruptors Script";
    src: local("Disruptors Script Regular"),
    local("DisruptorsScript-Regular"),
    url("./fonts/DisruptorsScript-Regular.woff2") format("woff2"),
    url("./fonts/DisruptorsScript-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "VestiSans";
    src: local("VestiSans-Regular"),
    local("VestiSans Regular");
    font-weight: normal;
}

@font-face {
    font-family: "VestiSans";
    src: local("VestiSans-Bold"),
    local("VestiSans Bold");
    font-weight: Bold;
}

ul li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: normal;
}

main {
    width: 100%;
    height: 100%;
}

